body {
  margin: 0;
  padding: 0;
  font-family:Helvitica neue, 'Roboto', Arial, sans-serif;
  color: rgb(255,255,255);
  background-color: black;
}
div{
  display: block;
}
::-webkit-scrollbar{
  display: none;
}
.table{
  width: 100%;
  text-align: center;
}
.header{
  font-size: 35px;
}
th{
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5%
}
td{
  vertical-align: top;
}
.folist{
  color: rgb(222,222,222);
  text-decoration: none;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
