body {
  margin: 0;
  padding: 0;
  font-family:Helvitica neue, 'Roboto', Arial;
  color: rgb(17, 17, 17);
  background-color: rgb(255,255,255);
  font-size: 14px;
}
.footerf1{
  color: rgb(222,222,222);
  background-color: rgb(22,22,22);
}
div{
  display: block;
}
.container{
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 100%;
}
.row{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 75px;
}
.info{
  float: left;
  margin-left: 20%;
  left: auto;
  right: auto;
}
.list{
  float: right;
  margin-right: 25%;
  left: auto;
  right: auto;
}
.folist{
  color: rgb(222,222,222);
  text-decoration: none;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
