body {
  margin: 0;
  padding: 0;
  font-family:Helvitica neue, 'Roboto', Arial, sans-serif;
  color: rgb(222,222,222);
  background-color: rgb(22,22,22);
  font-size: 14px;
  margin-bottom: 100px
  overflow: hidden;
}
::-webkit-scrollbar{
  display: none;
}
div{
  display: block;
}
.container{
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 100%;
}
.row{
  margin-left: auto;
  margin-right: auto;
}
.info{
  float: left;
  margin-left: 20%;
  left: auto;
  right: auto;
}
.list{
  float: left;
  margin-left: 20%;
  left: auto;
  right: auto;
}
.folist{
  color: rgb(222,222,222);
  text-decoration: none;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
